body{
    font-family: Arial;
    padding:20px;
}

#products{
    display:grid;
    grid-template-columns:
    repeat(auto-fill,minmax(220px,1fr));
    gap:15px;
}

.card{
    border:1px solid #ddd;
    padding:15px;
    border-radius:10px;
}

.card button{
    width:100%;
    padding:8px;
    cursor:pointer;
}

#history{
    display:flex;
    gap:10px;
    margin:20px 0;
    flex-wrap:wrap;
}

.history-card{
    border:1px solid #333;
    padding:10px;
    border-radius:8px;
    min-width:150px;
}